{% extends 'beneficiaryapp/index.html' %}
{% block title %}Detalles{% endblock title %}
{% block main %}
<section id="details">
    <div class="container">
        <div class="card text-bg-primary mb-3">
            <div class="card-header">
                <h2 class="h1">Detalles del voluntario:</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><strong>Dni:</strong></p>
                    </div>
                    <div class="col">
                        <p>{{voluntary.id_perso.dni}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><strong>Nombre:</strong></p>
                    </div>
                    <div class="col">
                        <p>{{voluntary.id_perso.name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><strong>Fecha de Nacimiento:</strong></p>
                    </div>
                    <div class="col">
                        <p>{{voluntary.id_perso.birthday}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><strong>Genero:</strong></p>
                    </div>
                    <div class="col">
                        <p>{{voluntary.id_perso.gender}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><strong>Telefono:</strong></p>
                    </div>
                    <div class="col">
                        <p>{{voluntary.id_perso.phone}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><strong>Dirección:</strong></p>
                    </div>
                    <div class="col">
                        <p>{{voluntary.id_perso.address}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><strong>Cargo:</strong></p>
                    </div>
                    <div class="col">
                        <p>{{voluntary.job}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'beneficiary:edit_voluntary' voluntary.id %}" class="btn btn-primary">Editar</a>
                        <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirDelete">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="confirDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Esta seguro de que desea eliminar el registro?
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</a>
          <a href="{% url 'beneficiary:delete_voluntary' voluntary.id %}" class="btn btn-danger">Eliminar</a>
        </div>
      </div>
    </div>
  </div>

{% endblock main %}