{% extends 'beneficiaryapp/index.html' %}
{% block title %}Lista de Voluntarios{% endblock title %}
{% block main %}
<section id="list">
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="h1">Lista de Voluntarios</h2>
        </div>
        <div class="card-body">
            <div class="hstack">
                <a class="btn btn-primary ms-auto" href="{% url 'beneficiary:create_voluntary' %}">Agregar Voluntario</a>
            </div>
            <div class="table-responsive">
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">CI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for voluntary in voluntaries %}
                        <tr>
                            <td>{{voluntary.id_perso.dni}}</td>
                            <td>{{voluntary.id_perso.name}}</td>
                            <td>{{voluntary.job}}</td>
                            <td class="d-flex justify-content-evenly"><a class="badge text-bg-warning" href="{% url 'beneficiary:details_voluntary' voluntary.id %}"><i class="fa-solid fa-eye"></i>Ver más</a></td>  
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock main %}