{% extends 'beneficiaryapp/index.html' %}
{% block title %}Detalles{% endblock title %}
{% block main %}
<section id="details">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Detalles del Donante:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Dni:</strong></p>
            </div>
            <div class="col">
                <p>{{donor.dni}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Nombre:</strong></p>
            </div>
            <div class="col">
                <p>{{donor.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Tipo:</strong></p>
            </div>
            <div class="col">
                <p>{{donor.type_donor}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="" class="btn btn-primary">Editar</a>
                <a href="{% url 'beneficiary:create_donation' donor.id %}" class="btn btn-primary">Donaciones</a>
                <a href="" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
    {% if donations %}
    <div class="container">
        <div class="table-responsive">
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Monto de la donacion</th>
                        <th scope="col">Fecha donacion</th>
                        <th scope="col">Numero de cuenta</th>
                        <th scope="col">Comprobante</th>
                    </tr>
                </thead>
                <tbody>
                    {% for donation in donations %}
                    <tr>
                        <td>{{donation.amount_donation}}</td>
                        <td>{{donation.date_donation}}</td>
                        <td>{{donation.num_cta}}</td>
                        <td><a href="{{donation.voucher_dona.url}}">{{donation.voucher_dona.url}}</a></td>  
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <p>Aun no se han registrado donaciones</p>
    {% endif %}
</section>


{% endblock main %}