{% extends 'beneficiaryapp/index.html' %}
{% block title %}Lista de Donantes{% endblock title %}
{% block main %}
<section id="list-donor">
<div class="container">
    <div class="card">
        <div class="card-header my-secundary">
            <h2 class="h1">Lista de donadores actuales</h2>
        </div>
        <div class="card-body">
            <div class="hstack">
                <a href="{% url 'beneficiary:create_donor' %}" class="btn btn-primary ms-auto">Crear Nuevo donador</a>
            </div>
            <hr>
            <div class="table-responsive">
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">CI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo de donante</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for donor in donors %}
                        <tr>
                            <td>{{donor.dni}}</td>
                            <td>{{donor.name}}</td>
                            <td>{{donor.type_donor}}</td>
                            <td class="hstack gap-3">
                                <a href="{% url 'beneficiary:details_donor' donor.id %}" class="badge text-bg-warning">Ver más</a>
                                <a href="{% url 'beneficiary:create_donation' donor.id %}" class="badge text-bg-primary">Nueva donación</a>
                            </td>  
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock main %}