{% extends 'beneficiaryapp/index.html' %}
{% block title %}Lista de Donantes{% endblock title %}
{% block main %}
<section id="list-donor">
<div class="container">
    <div class="table-responsive">
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Dni</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo de donante</th>
                    <th scope="col">Detalles</th>
                </tr>
            </thead>
            <tbody>
                {% for donor in donors %}
                <tr>
                    <td>{{donor.dni}}</td>
                    <td>{{donor.name}}</td>
                    <td>{{donor.type_donor}}</td>
                    <td><a href="{% url 'beneficiary:details_donor' donor.id %}">Ver más</a></td>  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>
{% endblock main %}