{% extends 'beneficiaryapp/index.html' %}
{% block title %}Registro de acompañante{% endblock  %}
{% block main %}
<section id="main-create">
<div class="container">
    <div class="card mb-3">
        <div class="card-header text-bg-primary">
            <h2 class="h1">Registrar acompañante</h2>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="{% url 'beneficiary:edit_companion' companion.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <label for="id_dni" class="col-10 offset-1 col-md-6 offset-md-0">Carnet de identidad:<input type="text" name="dni" maxlength="10" required id="id_dni" value="{{companion.id_perso.dni}}"></label>
                    <label for="id_name" class="col-10 offset-1 col-md offset-md-0">Nombre:<input type="text" name="name" maxlength="150" required id="id_name" value="{{companion.id_perso.name}}"></label>
                </div>
                <div class="row">
                    <label for="id_birthday" class="col-10 offset-1 col-md-6 offset-md-0">Fecha de nacimiento:<input type="date" name="birthday" required id="id_birthday" value="{{text_birthday}}"></label>
                    <label for="id_gender" class="col-10 offset-1 col-md-6 offset-md-0">Genero:
                        <select name="gender" id="id_gender" required>
                            {% if companion.id_perso.gender == "Masculino"%}
                                <option value="Masculino" selected>Masculino</option>
                                <option value="Femenino">Femenino</option>
                            {% else %}
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino" selected>Femenino</option>
                            {% endif %}   
                        </select>
                    </label>
                </div>
                <div class="row">
                    <label for="id_phone" class="col-10 offset-1 col-md offset-md-0">Telefono:<input type="text" name="phone" maxlength="10" required id="id_phone" value="{{companion.id_perso.phone}}"></label>
                </div>
                <div class="row">
                    <label for="id_address" class="col-10 offset-1 col-md offset-md-0">Dirección:<textarea name="address" cols="40" rows="10" maxlength="250" required id="id_address">{{companion.id_perso.address}}</textarea></label>
                </div>
                <div class="row">
                    <label for="id_photo" class="col-10 offset-1 col-md offset-md-0">Foto:
                        <input type="file" name="photo" accept="image/*" id="id_photo">
                    </label>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 col-md offset-md-0">
                        <input type="submit" value="Enviar" class="btn btn-dark">
                    </div>
                </div>     
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}