{% extends 'beneficiaryapp/index.html' %}
{% block title %}Lista de Gastos{% endblock title %}
{% block main %}
<section id="list-expense">
<div class="container">
    
    <div class="card">
        <div class="card-body">
            <div class="hstack">
                <a href="{% url 'beneficiary:create_expense_beneficiary' beneficiary.id %}" class="btn btn-primary ms-auto">Resgistrar nuevo gasto</a>
            </div>
            <hr>
            <div class="card-header my-secundary">
                <h2 class="h1">Descargo del beneficiario: {{beneficiary.id_perso.name}}</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Fecha</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Descripción</th>
                            
                            <th scope="col">Acompañante</th>
                            {% comment %} <th scope="col">Encargado</th> {% endcomment %}
                            <th scope="col">Comprobante</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                        <tr>
                            <td>{{expense.expense_date}}</td>
                            {% if expense.finalized %}
                            <td class="table-success"><span class="badge text-bg-success">Finalizado</span></td>
                            {% else %}
                            <td class="table-danger"><span class="badge text-bg-danger">Pendiente</span></td>
                            {% endif %}
                            <td>Bs {{expense.expense_amount}}</td>
                            <td>{{expense.motive}}</td>
                            
                            {% if expense.id_companion.id_perso.name %}
                            <td>{{expense.id_companion.id_perso.name}}</td>
                            {% else %}
                            <td>Ninguno</td>
                            {% endif %}
                            {% comment %} <td>{{expense.id_voluntary.id_perso.name}}</td> {% endcomment %}
                            {% if expense.voucher_expense and expense.finalized %}
                                <td><a href="{{expense.voucher_expense.url}}"><i class="fa-solid fa-file" style="font-size: 2rem"></i>Documento</a></td>  
                            {% else %}
                            <td><a href="{% url 'beneficiary:finalized_form_expense' expense.id %}"><i class="fa-solid fa-file" style="font-size: 2rem"></i>Subir Documento</a></td>
                            {% endif %}  
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
</section>
{% endblock main %}