{% extends 'beneficiaryapp/index.html' %}
{% block title %}Lista de Gastos{% endblock title %}
{% block main %}
<section id="list-expense">
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="h1">Lista de Gastos</h2>
        </div>
        <div class="card-body">
            <div class="hstack">
                <a href="{% url 'beneficiary:create_expense' %}" class="btn btn-primary ms-auto">Registrar Gasto</a>
            </div>
            <div class="table-responsive">
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Monto</th>
                            <th scope="col">Tipo de gasto</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Encargado</th>
                            <th scope="col">Comprobante</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                        <tr>
                            <td>{{expense.expense_amount}}</td>
                            <td>{{expense.type_expense.name}}</td>
                            <td>{{expense.Description_expense}}</td>
                            <td>{{expense.expense_date}}</td>
                            <td>{{expense.id_voluntary.id_perso.name}}</td>
                            <td><a href="{{expense.voucher_expense.url}}"><i class="fa-solid fa-file" style="font-size: 2rem"></i>Documento</a></td>  
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock main %}