{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'beneficiaryapp/css/style.css' %}">
    {% block t-head %}{% endblock t-head %}
    <title>{% block title %}Index{% endblock title %}</title>
</head>
<body class="">
    <!--header -->
    <header id="header">
        <nav class="navbar fixed-top my-primary">
            <div class="container">
              <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-dark"></span>
              </button>
              <a class="navbar-brand navbar-dark" href="#">
                <i class="fa-solid fa-ribbon" style="font-size: 3.5rem"></i>
              </a>
              <!-- Button trigger modal -->
              <a class="navbar-brand navbar-dark" href="#" data-bs-toggle="modal" data-bs-target="#searchModal">
                <i id="id_btn_search" class="fa-solid fa-magnifying-glass"></i>
              </a>
              <div class="offcanvas offcanvas-start my-secundary-text" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title h1" id="offcanvasDarkNavbarLabel">Menu</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <hr>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link link-btn" aria-current="page" href="{% url 'beneficiary:home' %}"><i class="fa-solid fa-house me-2"></i>Inicio</a>
                    </li>
                    {% if perms.beneficiaryapp.view_beneficiary %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle link-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-hospital-user me-2"></i>Beneficiarios
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_beneficiary' %}">Lista de Beneficiarios</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_cancer' %}">Lista de Tipos de Cancer</a></li>                        
                      </ul>
                    </li>
                    {% endif %}
                    {% if perms.beneficiaryapp.view_donation %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle link-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-circle-dollar-to-slot me-2"></i>Donaciones
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_donor' %}">Lista de Donadores</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_donation' %}">Lista de Donaciones</a></li>
                      </ul>
                    </li>
                    {% endif %}
                    {% if perms.beneficiaryapp.view_voluntary %}
                    <li class="nav-item">
                      <a class="nav-link link-btn" aria-current="page" href="{% url 'beneficiary:list_voluntary' %}"><i class="fa-solid fa-circle-user me-2"></i>Voluntarios</a>
                    </li>
                    {% endif %}
                    {% if perms.beneficiaryapp.view_expense %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle link-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-money-check-dollar me-2"></i>Gastos
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_expense' %}">Lista de Gastos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_type_expense' %}">Tipos Gastos beneficiarios</a></li>
                      </ul>
                    </li>
                    {% endif %}
                    {% if perms.beneficiaryapp.view_expense %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle link-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-scale-balanced me-2"></i>Estado Financiero
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'beneficiary:balance_donations' %}">Donaciones</a></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:balance' %}">Gastos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:balance_total' %}">Total</a></li>
                      </ul>
                    </li>
                    {% endif %}
                    <li><hr></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'beneficiary:logout' %}" class="link-btn">Cerrar sesión</a></li>
                    {% else %}
                    <li><a href="{% url 'beneficiary:login' %}">Login</a></li>
                    {% endif %}

                  </ul>
                </div>
              </div>
            </div>
          </nav>
    </header>
    
    <!--header -->
    
    <main id="main">
        {% block main %}
        
        {% endblock main %}
    </main>
    <!--footer -->
    <footer id="footer" class=" pb-4 pt-4">
        <div class="container">
            <div class="row text-center">
              <div class="col-12 col-lg">
                @2023 Todos los derechos reservados.
              </div>
              
              {% comment %} <div class="col-12 col-lg">
                <a href="#">Preguntas frecuentes</a>
              </div>
              <div class="col-12 col-lg">
                <a href="#">Contacto</a>
              </div>
              <div class="col-12 col-lg">
                <a href="#">Contacto</a>
              </div> {% endcomment %}
            </div>
        </div>
    </footer>
    <!--footer -->

    <!-- Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Buscar Beneficiario por:</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="form-search"action="{% url 'beneficiary:search_beneficiary' %}" method="GET">
              <label for="id_search_select" class="form-label" style="display:none">Opciones de busqueda:</label>
              <select name="f_filter" id="id_search_select" class="">
                <option value="dni">CI</option>
                <option value="name">Nombre</option>
              </select>
              <div class="search-input">
                <label for="id_search_input" class="visually-hidden">Escribe lo que deseas buscar</label>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input name="search_text"type="text" class="" id="id_search_input" placeholder="Buscar.." maxlength="150" autocomplete="off">
              </div> 
              {% comment %} <button type="submit" class="btn btn-rose">Buscar</button>  {% endcomment %}
            </form>
          </div>
          <div class="modal-footer my-primary-text">
            <i class="fa-solid fa-ribbon" style="font-size: 2.5rem"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <script>
      {% comment %} document.getElementById("").addEventListener("keydown", function(event) {
        console.log("enter2");
        if (event.keyCode === 13) {
            //event.preventDefault(); // previene el comportamiento predeterminado del Enter
            //document.getElementById("form-search").submit(); // envía el formulario
            console.log("enter2");
        }
      }); {% endcomment %}
      
    </script>

    <script src="{% static 'beneficiaryapp/js/script.js' %} "></script>
    <script src="https://kit.fontawesome.com/df236c7e60.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>