{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'beneficiaryapp/css/style.css' %}">
    {% block t-head %}{% endblock t-head %}
    <title>{% block title %}Index{% endblock title %}</title>
</head>
<body class="bg-body-tertiary">
    <!--header -->
    <header id="header">
        <nav class="navbar navbar-dark bg-primary fixed-top" data-bs-theme="dark">
            <div class="container">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="{% static 'beneficiaryapp/img/un_boliviano_REDONDO.png' %}" alt="" style="width: 4rem; height:3.5rem">
              </a>
              <div class="offcanvas offcanvas-start text-bg-primary" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title h1" id="offcanvasDarkNavbarLabel">Menu</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <hr>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'beneficiary:home' %}"><i class="fa-solid fa-house me-2"></i>Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-hospital-user me-2"></i>Beneficiarios
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'beneficiary:create_beneficiary' %}">Registrar Beneficiarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_beneficiary' %}">Lista de Beneficiarios</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_cancer' %}">Lista de Tipos de Cancer</a></li>                        
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-circle-dollar-to-slot me-2"></i>Donaciones
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'beneficiary:create_donor' %}">Registrar nuevo donador</a></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_donor' %}">Lista de Donadores</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_donation' %}">Lista de Donaciones</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'beneficiary:list_voluntary' %}"><i class="fa-solid fa-circle-user me-2"></i>Voluntarios</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-money-check-dollar me-2"></i>Gastos
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'beneficiary:create_expense' %}">Registrar Gastos</a></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_expense' %}">Lista de Gastos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:list_type_expense' %}">Tipos Gastos beneficiarios</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-scale-balanced me-2"></i>Balance
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'beneficiary:balance_donations' %}">Donaciones</a></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:balance' %}">Gastos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary:balance_total' %}">Total</a></li>
                      </ul>
                    </li>
                    <li><hr></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'beneficiary:logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'beneficiary:login' %}">Login</a></li>
                    {% endif %}

                  </ul>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <!--header -->
    <main id="main">
        {% block main %}
        
        {% endblock main %}
    </main>
    <!--footer -->
    <footer id="footer" class=" pb-4 pt-4">
        <div class="container">
            <div class="row text-center">
              <div class="col-12 col-lg">
                <a href="#">Preguntas frecuentes</a>
              </div>
              <div class="col-12 col-lg">
                <a href="#">Contacto</a>
              </div>
              <div class="col-12 col-lg">
                <a href="#">Contacto</a>
              </div>
            </div>
        </div>
    </footer>
    <!--footer -->
    <script src="{% static 'beneficiaryapp/js/script.js' %} "></script>
    <script src="https://kit.fontawesome.com/df236c7e60.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>