{% extends 'beneficiaryapp/index.html' %}
{% block title %}Lista de Beneficiarios{% endblock title %}
{% block main %}
<section id="list">
    <div class="container">
        <div class="card  mb-3">
            <div class="card-header text-bg-primary">
                <h2 class="h1">Lista de beneficiarios</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <form action="" method="GET">
                                <label for="id_f_filter" class="form-label">Buscar por:</label>
                                <div class="hstack gap-3">
                                    <select name="f_filter" id="id_f_filter" class="form-select form-select-lg" style="font-size: 1.6rem; min-width: 10rem">
                                        {% if f_filter %}
                                        <option value="dni" selected>Dni</option>
                                        <option value="name">Nombre</option>
                                        {% else %}
                                        <option value="dni">Dni</option>
                                        <option value="name" selected>Nombre</option>
                                        {% endif %}
                                        
                                    </select>
                                    <label for="id_text" class="visually-hidden">Escribe lo que deseas buscar</label>
                                    <input  value="{{search_text}}" name="search_text"type="text" class="form-control" id="id_text" placeholder="Escribe.." maxlength="150" style="font-size: 1.6rem; padding: 0.7rem;">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </div>    
                            </form>
                        </div>
                        <div class="col">
                        </div>
                        <hr>
                        <div class="d-grid">
                            <a href="{% url 'beneficiary:create_beneficiary' %}" class="btn btn-primary">Registrar nuevo beneficiario</a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="table-responsive">
                        <hr>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-primary">
                                    <th scope="col">Dni</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Tipo de Cancer</th>
                                    <th scope="col">Detalles</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for beneficiary in beneficiaries %}
                                    {% if beneficiary.id_perso.active %}
                                    <tr>
                                        <td>{{beneficiary.id_perso.dni}}</td>
                                        <td>{{beneficiary.id_perso.name}}</td>
                                        <td>{{beneficiary.id_cancer.c_name}}</td>
                                        <td><a class="badge text-bg-warning" href="{% url 'beneficiary:details_beneficiary' beneficiary.id %}"><i class="fa-solid fa-eye me-1"></i>Ver más</a></td>  
                                    </tr>
                                    {% else %}
                                    <tr class="table-danger">
                                        <td>{{beneficiary.id_perso.dni}}</td>
                                        <td>{{beneficiary.id_perso.name}}</td>
                                        <td>{{beneficiary.id_cancer.c_name}}</td>
                                        <td><a class="badge text-bg-warning" href="{% url 'beneficiary:details_beneficiary' beneficiary.id %}"><i class="fa-solid fa-eye me-1"></i>Ver más</a></td>  
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </section>
            </div>
        </div>
    </div>
    

{% endblock main %}