{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Iniciar sesión</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg my-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" style="color: white"><i class="fa-solid fa-ribbon" style="font-size: 1.8rem"></i></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-danger"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'beneficiary:login' %}">Acceder</a>
                  </li>
                </ul>
                <div class="hstack gap-3 d-flex justify-content-center">
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main class="mt-5">
        <div class="container d-flex justify-content-center">
            <div class="card mb-5" style="min-width: 315px;">
                <div class="row">
                    <div class="col col-lg-6">
                        <div class="card-header my-primary">
                            <img src="{% static 'beneficiaryapp/img/logo-white-redondo.png' %}" style="max-width:2rem" alt="Logo boliviano contra el cancer">
                            <strong style="color: white">Un Boliviano contra el cancer</strong>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <h2>¡Bienvenido de nuevo!</h2>
                                <p class="text-secundary">El espiritu humano es más fuerte que cualquier cosa que pueda pasar.</p>
                            </div>
                            
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group mb-3 ">
                                    <label for="{{ form.username.id_for_label }}" class="d-block mb-1"><strong>Usuario</strong></label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group mb-3">
                                    <label for="{{ form.password.id_for_label }}" class="d-block mb-1"><strong>Contraseña</strong></label>
                                    {{ form.password }}
                                </div>
                                <input type="submit" class="btn btn-rose" value="Iniciar sesión">
                            </form>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center aling-items-center col-ocul">
                        <img id="img-ocul" src="{% static 'beneficiaryapp/img/un_boliviano.png' %}" alt="">
                    </div>
                </div>
                
            </div>
        </div>
    </main>
</body>
</html>
<script src="https://kit.fontawesome.com/df236c7e60.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>