{% extends 'beneficiaryapp/index.html' %}
{% block title %}Balance de gastos{% endblock  %}
{% block main %}
<section id="balance">
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2 class="h1 ">Balance de gasto</h2>
        </div>
        <div class="card-body">
            <div class="">
                <form action="{% url 'beneficiary:balance' %}" class="row g-3" method="POST">
                    {% csrf_token %}
                    <div class="col-6 col-sm-auto">
                        <input class="form-control" type="date" value="{{date_init}}" name="date_init">
                    </div>
                    <div class="col-6 col-sm-auto">
                        <input class="form-control" type="date" value="{{date_limit}}" name="date_limit">
                    </div>
                    <div class="col d-grid gap-2 d-sm-block">
                        <input class="btn btn-rose mb-3" type="submit" value="Filtrar">
                    </div>
                </form>
            </div>
            <hr>
            {% if expenses or expenses_beneficiary %}
            <div class="row">
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3">
                    <div class="card card-no border-success mb-3">
                        <div class="card-header text-bg-success"><i class="fa-solid fa-file me-2"></i>Registros totales:</div>
                        <div class="card-body">
                          <h5 class="card-title">Se han encontrado</h5>
                          <p class="card-text">{{total_num_expense}} registros</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3">
                    <div class="card card-no border-warning mb-3">
                        <div class="card-header text-bg-warning"><i class="fa-solid fa-money-bill me-2"></i>Gasto:</div>
                        <div class="card-body">
                          <h5 class="card-title">La sumatoria ha sido</h5>
                          <p class="card-text">{{t_expense_gasto}} bs</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3">
                    <div class="card card-no border-warning mb-3">
                        <div class="card-header text-bg-warning"><i class="fa-solid fa-money-bill me-2"></i>Gasto en beneficiarios:</div>
                        <div class="card-body">
                          <h5 class="card-title">La sumatoria ha sido</h5>
                          <p class="card-text">{{t_expense_gasto_beneficiary}} bs</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3">
                    <div class="card card-no border-danger mb-3">
                        <div class="card-header text-bg-danger"><i class="fa-solid fa-money-bill me-2"></i>Gasto Total:</div>
                        <div class="card-body">
                          <h5 class="card-title">La sumatoria ha sido</h5>
                          <p class="card-text">{{total_expense}} bs</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="container">
                {% if expenses %}
                
                <div class="table-responsive" id="table-expense">
                    <hr>
                    <div class="card-header my-secundary">
                        <h2 class="h1">Gastos</h2>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Fecha</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Tipo de gasto</th>
                                {% comment %} <th scope="col">Encargado</th> {% endcomment %}
                                <th scope="col">Comprobante</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expenses %}
                            {% if expense.active %}
                            <tr>
                                <td>{{expense.expense_date}}</td>
                                <td>{{expense.Description_expense}}</td>
                                <td>{{expense.expense_amount}}</td>
                                {% comment %} <td>{{expense.type_expense.name}}</td> {% endcomment %}
                                <td>{{expense.id_voluntary.id_perso.name}}</td>
                                <td><a href="{{expense.voucher_expense.url}}"><i class="fa-solid fa-file" style="font-size: 2rem"></i>Documento</a></td>
                                <td>
                                    <a href="{% url 'beneficiary:delete_expense' expense.id %}" class="badge text-bg-danger" onclick='return confirmDelete()' style="text-decoration:none;">Borrar</a>
                                </td>
                            </tr>
                            {% else %}
                            <tr class="text-bg-danger">
                                <td><del>{{expense.expense_date}}</del></td>
                                <td><del>{{expense.Description_expense}}</del></td>
                                <td><del>{{expense.expense_amount}}</del></td>
                                <td><del>{{expense.type_expense.name}}</del></td>
                                {% comment %} <td><del>{{expense.id_voluntary.id_perso.name}}</del></td> {% endcomment %}
                                <td><del><a href="" style="color:white"><i class="fa-solid fa-file" style="font-size: 2rem"></i>Documento</a></del></td>
                                <td>
                                    <span class="badge text-bg-danger" style="text-decoration:none;">Eliminado</span>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <hr>
                    <div class="card-header my-secundary">
                        <h2 class="h1">Gastos</h2>
                    </div>
                    <p class="text-center">No se encontro registro entre estas fechas</p>
                {% endif %}
                {% if expenses_beneficiary %}
                
                <div class="table-responsive" id="table-expense">
                    <hr>
                    <div class="card-header my-secundary">
                        <h2 class="h1">Gastos en Beneficiarios</h2>
                    </div>
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Fecha</th>
                                <th scope="col">Motivo</th>
                                <th scope="col">Beneficiario</th>
                                <th scope="col">Monto</th>
                                
                                
                                {% comment %} <th scope="col">Encargado</th> {% endcomment %}
                                
                                <th scope="col">Comprobante</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expenses_beneficiary %}
                            {% if expense.active %}
                            <tr>
                                <td>{{expense.expense_date}}</td>
                                <td>{{expense.motive}}</td>
                                <td>{{expense.id_beneficiary.id_perso.name}}</td>
                                <td>{{expense.expense_amount}}</td>
                                
                                
                                {% comment %} <td>{{expense.id_voluntary.id_perso.name}}</td> {% endcomment %}
                                
                                {% if expense.voucher_expense %}
                                <td><a href="{{expense.voucher_expense.url}}"><i class="fa-solid fa-file" style="font-size: 2rem"></i>Documento</a></td>  
                                {% else %}
                                <td><a href=""><i class="fa-solid fa-file" style="font-size: 2rem"></i>Sin documento</a></td>
                                {% endif %}  
                                <td>
                                    <a href="{% url 'beneficiary:delete_expense_beneficiary' expense.id %}" class="badge text-bg-danger" onclick='return confirmDelete()' style="text-decoration:none;">Borrar</a>
                                </td> 
                            </tr>
                            {% else %}
                            <tr class="text-bg-danger">
                                <td><del>{{expense.expense_date}}</del></td>
                                <td><del>{{expense.motive}}</del></td>
                                <td><del>{{expense.id_beneficiary.id_perso.name}}</del></td>
                                <td><del>{{expense.expense_amount}}</del></td>
                                {% comment %} <td><del>{{expense.id_voluntary.id_perso.name}}</del></td> {% endcomment %}
                                
                                {% if expense.voucher_expense %}
                                <td><a style="color:white" href="{{expense.voucher_expense.url}}"><i class="fa-solid fa-file" style="font-size: 2rem"></i>Documento</a></td>  
                                {% else %}
                                <td><a style="color:white" href=""><i class="fa-solid fa-file" style="font-size: 2rem"></i>Subir Documento</a></td>
                                {% endif %}
                                <td>
                                    <span class="badge text-bg-danger" style="text-decoration:none;">Eliminado</span>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <hr>
                    <div class="card-header my-secundary">
                        <h2 class="h1">Gastos en beneficiario</h2>
                    </div>
                    <p class="text-center">No se encontro registro entre estas fechas</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}