{% extends 'beneficiaryapp/index.html' %}
{% block title %}Balance de gastos{% endblock  %}
{% block main %}
<section id="balance">
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2>Balance de gasto</h2>
        </div>
        <div class="card-body">
            <div class="">
                <form action="" class="row g-3" method="POST">
                    {% csrf_token %}
                    <div class="col-6 col-sm-auto">
                        <input class="form-control" type="date" value="{{date_init}}" name="date_init">
                    </div>
                    <div class="col-6 col-sm-auto">
                        <input class="form-control" type="date" value="{{date_limit}}" name="date_limit">
                    </div>
                    <div class="col d-grid gap-2 d-sm-block">
                        <input class="btn btn-primary mb-3" type="submit" value="Filtrar">
                    </div>
                </form>
            </div>
            <hr>
            <div class="container">
                <div class="table-responsive">
                    <hr>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-dark">
                                <th scope="col">Monto</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Comprobante</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expenses %}
                            <tr>
                                <td>{{expense.expense_amount}}</td>
                                <td>{{expense.Description_expense}}</td>
                                <td>{{expense.expense_date}}</td>
                                <td><a href="">{{expense.voucher_expense}}</a></td>  
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}