{% extends 'beneficiaryapp/index.html' %}
{% block title %}Balance Donaciones{% endblock  %}
{% block main %}
<section id="balance">
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2 class="h1 ">Balance donaciones</h2>
        </div>
        <div class="card-body">
            <div class="">
                <form action="{% url 'beneficiary:balance_donations' %}" class="row g-3" method="POST">
                    {% csrf_token %}
                    <div class="col-6 col-sm-auto">
                        <input class="form-control" type="date" value="{{date_init}}" name="date_init">
                    </div>
                    <div class="col-6 col-sm-auto">
                        <input class="form-control" type="date" value="{{date_limit}}" name="date_limit">
                    </div>
                    <div class="col d-grid gap-2 d-sm-block">
                        <input class="btn btn-rose mb-3" type="submit" value="Filtrar">
                    </div>
                </form>
            </div>
            <hr>
            {% if donations %}
            <div class="row">
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3">
                    <div class="card card-no border-success mb-3">
                        <div class="card-header text-bg-success"><i class="fa-solid fa-file me-2"></i>Registros totales:</div>
                        <div class="card-body">
                          <h5 class="card-title">Se han encontrado</h5>
                          <p class="card-text">{{total_num_donations}} registros</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3">
                    <div class="card card-no border-success mb-3">
                        <div class="card-header text-bg-success"><i class="fa-solid fa-money-bill me-2"></i>Monto Total:</div>
                        <div class="card-body">
                          <h5 class="card-title">La sumatoria ha sido</h5>
                          <p class="card-text">{{total_donations}} bs</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="container">
                {% if donations %}
                
                <div class="table-responsive" id="table-expense">
                    <hr>
                    <div class="card-header my-secundary">
                        <h2 class="h1">Donaciones</h2>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Fecha</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Donante</th>
                                <th scope="col">Numero de cuenta</th>
                                
                                <th scope="col">Comprobante</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for donation in donations %}
                            {% if donation.active %}
                            <tr>
                                <td>{{donation.date_donation}}</td>
                                <td>{{donation.amount_donation}}</td>
                                <td>{{donation.id_donor.name}}</td>
                                <td>{{donation.num_cta}}</td>
                                
                                <td><a href="{{donation.voucher_dona.url}}"><i class="fa-solid fa-file" style="font-size: 2rem"></i>Documento</a></a></td>
                                <td>
                                    <a href="{% url 'beneficiary:delete_donation' donation.id %}" class="badge text-bg-danger" onclick='return confirmDelete()' style="text-decoration:none;">Borrar</a>
                                </td>
                            </tr>
                            {% else %}
                            <tr class="text-bg-danger">
                                <td><del>{{donation.date_donation}}</del></td>
                                <td><del>{{donation.amount_donation}}</del></td>
                                <td><del>{{donation.id_donor.name}}</del></td>
                                <td><del>{{donation.num_cta}}</del></td>
                                
                                <td><del><a href="{{donation.voucher_dona.url}}" style="color: #fff;"><i class="fa-solid fa-file" style="font-size: 2rem"></i>Documento</a></del></td>
                                <td>
                                    <span class="badge text-bg-danger" style="text-decoration:none;">Eliminado</span>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <hr>
                    <div class="card text-bg-primary">
                        <div class="card-header">
                            <h2 class="h1">Donaciones</h2>
                        </div>
                    </div>
                    <p class="text-center">No se encontro registro entre estas fechas</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}